* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

span {
    display: inline-block;
}

.input-group>.form-control {
    width: 500px;
}

.search-content {
    margin: 200px auto 0;
    height: 50px;
}

.search-select,
.search-input,
.search-btn {
    height: 50px;
    border-radius: 0;
}

.search-select {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

}

.search-input {
    width: 500px;
}

.search-btn {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}