* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

span {
    display: inline-block;
}

.search-content {
    margin: 300px auto 0;
    height: 50px;
}

.search-select,
.search-input,
.search-btn {
    height: 50px;
    border-radius: 0;
}

.search-select {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

}

.search-btn {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#searchList {
    margin: 10px;
    text-align: center;
}

#searchList li {
    margin: 5px 0;
}