* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(255, 250, 250);
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

span {
    display: inline-block;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.search-logo {
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-logo img {
    width: 50%;
    height: 50%;
    margin-bottom: 20px;
}

.search-content {
    width: 100%;
    height: 50px;
}

.search-select,
.search-input,
.search-btn {
    height: 50px;
    border-radius: 0;
}

.search-select {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

}

.search-btn {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#searchList {
    margin: 10px;
    text-align: center;
}

#searchList li {
    margin: 5px 0;
}

#sideBar {
    position: absolute;
    width: 380px;
    right: -350px;
    top: 0;
    bottom: 0;
    font-size: 28px;
    z-index: 1000;
}

#sideBarTitle,
#sideBarContent,
.move {
    height: 100%;
    display: inline-block;
}

#sideBarTitle {
    width: 30px;
}

#sideBarContent {
    width: 350px;
    position: absolute;
    background: rgb(105, 105, 105);
    overflow-y: hidden;
}

#sideBarContent {
    overflow: auto;
}

/*滚动条宽高*/
#sideBarContent::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/*正常情况下滑块的样式*/
#sideBarContent::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .05);
}

/*鼠标悬浮在该类指向的控件上时滑块的样式*/
#sideBarContent:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

/*鼠标悬浮在滑块上时滑块的样式*/
#sideBarContent::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .4);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

/*正常时候的主干部分*/
#sideBarContent::-webkit-scrollbar-track {
    /* border-radius: 10px; */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #5f5f5f;
}

/*鼠标悬浮在滚动条上的主干部分*/
#sideBarContent::-webkit-scrollbar-track:hover {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
    background-color: rgba(0, 0, 0, .01);
}

#sideBarContent p {
    width: 100%;
    margin: 0 10px 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #8f8f8f;
    font-size: 18px;
    color: rgb(255, 250, 250);
}

#scrollContent {
    padding: 10px 20px;
}

.moveLeft {
    animation: moveLeft 0.5s forwards;
}

.moveRight {
    animation: moveRight 0.5s forwards;
}

.title-icon {
    margin: -5px 0;
    color: #8f8f8f;
    text-align: center;
    cursor: pointer;
}

.title-icon:hover {
    color: #5f5f5f;
}

.capsule {
    display: inline-block;
    width: 84px;
    height: 28px;
    border: 3px solid rgb(255, 250, 250);
    border-radius: 15px;
    margin: 8px;
    background: rgb(255, 250, 250);
    overflow: hidden;
}

.capsule span {
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.capsule:hover {
    animation: capsuleShadow 0.3s forwards;
}

.capsule a {
    /* height: 24px; */
    display: block;
    font-weight: bolder;
    font-size: 12px;
    /* line-height: 23px; */
    text-align: center;
}

@keyframes moveLeft {
    from {
        right: -350px;
    }

    to {
        right: 0;
    }
}

@keyframes moveRight {
    from {
        right: 0;
    }

    to {
        right: -350px;
    }
}

@keyframes capsuleShadow {
    from {
        box-shadow: 0 0 0 0 rgb(255, 255, 255);
    }

    to {
        box-shadow: 1px 1px 5px 1px rgb(255, 250, 250);
    }
}