body {
    background: #7C7C7E;
}

a {
    color: black;
}

a:hover {
    color: black;
}

.poetry-content {
    color: #333;
}

.title-icon {
    color: #8f8f8f;
}

.title-icon:hover {
    color: #5f5f5f;
}

#copyright a {
    color: #999;
}

#copyright a:hover {
    color: #5f5f5f;
}

.search-group {
    background: #fff;
    border: 1px solid #dfe1e5;
}

.search-option {
    background: #ffffff;
    border: 1px solid #dfe1e5;
}

.search-option li:hover {
    background: #f1f1f1;
}

#sideBarContent {
    background: #E9E9E9;
    box-shadow: inset 1px 1px 0 rgba(231, 231, 231, .9);
}

.capsule {
    background: #E9E9E9;
}

.capsule:hover {
    box-shadow: 1px 1px 5px 1px #303052;
}

.setlist {
    background: #E9E9E9;
}

.setlist:hover {
    box-shadow: 1px 1px 5px 1px #303052;
}