body {
    background: #88C6E5;
}

.search-group {
    background: #fff;
    border: 1px solid #dfe1e5;
}

.search-option {
    background: #ffffff;
}

.search-option li:hover {
    background: #f1f1f1;
}

#sideBarContent {
    background: #A6D3E8;
    box-shadow: inset 1px 1px 0 rgba(231, 231, 231, .9);
}

.capsule {
    background: #FEF9EF;
}

.capsule:hover {
    box-shadow: 1px 1px 5px 1px #FEF9EF;
}

.setlist {
    background: #88C6E5;
}

.setlist:hover {
    box-shadow: 1px 1px 5px 1px #FEF9EF;
}