body {
    background: transparent;
    color: #999;
}

a {
    color: #999;
}

a:hover {
    color: black;
}

#copyright a:hover {
    color: #5f5f5f;
}

.search-group,
.search-btn,
.search-option {
    background: transparent;
}

.search-option li:hover {
    background: rgba(0, 0, 0, .1);
}

.commons {
    background: transparent;
}

#searchList li:hover {
    background: rgba(0, 0, 0, .1);
}

.selectSug {
    background: #f1f1f1;
}

#sideBarButton {
    color: #dfe1e5;
}

#sideBarContent {
    background: transparent;
}

.poetry {
    color: #dfe1e5;
}

.capsule {
    background: transparent;
}

.capsule:hover {
    box-shadow: 1px 1px 5px 1px #FFC549;
}

.setlist {
    background: transparent;
}

.setlist:hover {
    box-shadow: 1px 1px 5px 1px #FFC549;
}

#messageList li {
    background-color: transparent;
    color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}