body {
  color: #DDD4BC;
}

body,
.capsule,
.setlist,
.about-content,
#messageList li {
  background-color: transparent;
}

#searchList,
.dialog,
#sideBarButton,
#sideBarContent {
  background-color: transparent;
}

a,
.title-icon,
#sideBarButton,
.poetry,
#messageList li {
  color: #DDD4BC;
}

.commons,
.search-group,
.search-option {
  background-color: transparent;
  color: #DDD4BC;
}

a:hover,
#copyright a:hover {
  color: #707070;
}

.capsule:hover,
.setlist:hover {
  box-shadow: 1px 1px 5px 1px #FFC549;
}

#messageList li {
  box-shadow: 0 2px 12px 0 #FFC549;
}
