body {
    background: #FFFFFF;
}

#sideBarContent {
    background: #F0F0F0;
    box-shadow: inset 1px 1px 0 rgba(231, 231, 231, .9);
}

.capsule {
    background: #FFFFFF;
}

.capsule:hover {
    box-shadow: 1px 1px 5px 1px #FFC549;
}

.setlist {
    background: #FFFFFF;
}

.setlist:hover {
    box-shadow: 1px 1px 5px 1px #FFC549;
}