.search-group {
    border-radius: 24px;
    box-shadow: none;
}

.search-group::before {
    border-radius: 24px;
}

.capsule {
    border-radius: 15px;
}

.setlist {
    border-radius: 8px;
}

.search-option {
    border-radius: 12px;
}

.search-option::after {
    border-radius: 12px;
}

.title-icon {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#searchList {
    border-radius: 16px;
}

#searchList li {
    border-radius: 12px;
}

#sideBarContent::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

.commons div {
    border-radius: 22px;
}

#messageList li {
    border-radius: 15px;
}