.search-group {
    border-radius: 8px;
    box-shadow: none;
}

.search-group::after {
    border-radius: 8px;
}

.capsule {
    border-radius: 5px;
}

.setlist {
    border-radius: 3px;
}

.search-option {
    border-radius: 4px;
}

.search-option::after {
    border-radius: 4px;
}

.title-icon {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

#searchList {
    border-radius: 8px;
}

#searchList li {
    border-radius: 4px;
}

#sideBarContent::-webkit-scrollbar-thumb {
    border-radius: 2px;
}

.commons div {
    border-radius: 11px;
}

#messageList li {
    border-radius: 5px;
}