.search-group {
    border-radius: 8px;
    box-shadow: none;
}

.capsule {
    border-radius: 5px;
}

.setlist {
    border-radius: 3px;
}

.search-option{
    border-radius: 4px;
}

#sideBarContent::-webkit-scrollbar-thumb {
    border-radius: 2px;
}