@mixin skin {
    body {
        color: $textColor;
    }

    body,
    #messageList li {
        background-color: $mainColor;
    }

    .commons,
    .capsule,
    #searchList,
    #dialog,
    .setlist,
    #sideBarContent{
        background-color: $secondaryColor;
    }

    a,
    .title-icon,
    #sideBarButton,
    .poetry,
    #messageList li {
        color: $textColor;
    }

    .search-group,
    .search-btn,
    .search-option {
        background-color: $secondaryColor;
        color: $textColor;
    }

    a:hover,
    #copyright a:hover {
        color: $hoverColor;
    }

    .search-option li:hover,
    #searchList li:hover,
    .selectSug {
        background-color: $hoverColor;
    }

    .capsule:hover,
    .setlist:hover {
        box-shadow: 1px 1px 5px 1px $shadowColor;
    }

    #messageList li {
        box-shadow: 0 2px 12px 0 $shadowColor;
    }
}